.carousel-caption {
    color: #000 !important;
    top: 150px;
    width: 50%;
}


.box-thickness
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    -webkit-box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)!important;
    -moz-box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)!important;
}
input
{
    margin-top: 10px;
    
}
.form-control
{
    border: none !important;
    border-radius: 0% !important;
}
.watsapp{
    height: 100px;
    width: 100px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
    background-color: green;
}

#all_of_us
{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/2.png);
}
.border-ing
{
    border-radius: 10px 40px 10px 40px !important;
}
#copyright
{
    height: 70px;
    background-color: black;
    color: #fff;

}