
@media screen and (max-width: 1200px) {
  .wrapper-width{
    width: 450px;
  }

}
@media screen and (max-width: 1019px) {
  .investo-join {
    height: 300px;
    padding: 2rem;
    line-height: 1.2;
  }
  .investo-join > h2 {
    font-size: 1.8rem;
    font-weight: 600;
  }
  .investo-join > p {
    margin-bottom: 5px;
    font-size: 1rem;
  }
  .wrapper-width{
    width: 400px;
  }
  
}

@media screen and (max-width: 991px) {
  .wrapper-width{
    width:370px;
  }
  
  .investo-content-why{
    width: 90%;
  }
  .investo-row{
    flex-direction: column;
  }
  .whywork {
    padding-left: .5rem;
    background: linear-gradient(to bottom, #000 50%, rgb(35, 39, 53) 60%);
  }
  .p-10{
    padding: 4rem;
  }
  .investo-col{
    width: 100%;
  }
  .carousel-caption > h1 {
    font-size: 5rem;
    line-height: 1;
  }
 
  .button-invsto-front1 {
    padding: 10px 20px;
  }
  .button-invsto-front2 {
    padding: 10px 20px;
  }
  .button-fronts-group {
    margin-top: 50px;
  }
}

@media screen and (max-width: 918px) {
  .investo-join {
    position: relative;
    top: 0;
    left: 0;
    height: 300px;
    transform: translate(0, 0);
  }
  .padding-top-head{
      padding-top:.3rem;
  }
  .investo-wrap > .investo-border {
    top: -5px;
  }
  .blog-content > h1 {
    font-size: 700;
    font-size: 1.5rem;
  }
  .Blogimg img {
    
    height: 250px;
  }
}
@media screen and (max-width: 786px) {
  .wrapper-width{
    width: 350px;
  }

}
@media screen and (max-width: 768px) {
  .margin-left {
    margin-left: 60px;
  }
  .footer-container {
   
    margin-left: 40px;
  }
  .invsto-writer{
    width: 100%;
    text-align: right;
    padding-right: 10px;
  }
  .imgbox-left{
    float: left;
    min-height: 30vh;
    padding: 2rem;
    padding-left: 0;
    padding-bottom: 1rem;
  }
  .imgbox-left img {
    margin-top: 0;  
    height: 200px;
    
  }
  #comments {
    height: 500px;
  }
  #totalCount {
    min-height: 30vh;
  }
  .countBox {
    min-height: 30vh;
  }
  
  .carousel-item {
    height: 500px;
  }
  .carousel-item > img {
    height: 500px;
  }
  .carousel-caption > h1 {
    font-size: 4rem;
    line-height: 1;
  }
  .button-invsto-front1 {
    padding: 10px 20px;
  }
  .button-invsto-front2 {
    padding: 10px 20px;
  }
  .button-fronts-group {
    margin-top: 50px;
  }
  .carousel-caption {
    width: 60%;
    top: 15%;
    left: 20%;
  }
}
@media screen and (max-width: 730px) {
  .wrapper-width{
    width: 330px;
  }

}
@media screen and (max-width: 724px){
    /* .pad-left{
        padding-left:0;
        padding-right:0;
    } */
    .pad-cont{
        padding-left:0;
        padding-right:0;
    }
    .investo-join{
        border-radius: 0;
        height: 360px;
    }
}
@media screen and (max-width: 690px) {
  .wrapper-width{
    width: 400px;
  }
@media screen and (max-width: 668px) {
  .carousel-caption {
    top: 8%;
    width: 70%;
    left: 15%;
  }
  .carousel-caption > h1 {
    font-size: 3rem;
    line-height: 1;
  }
  .button-invsto-front1 {
    font-size: 14px;
  }
  .button-invsto-front2 {
    font-size: 14px;
  }
  .carousel-control-prev {
    top: -28%;
  }
  .carousel-control-next {
    top: -28%;
  }
}
@media screen and (max-width: 668px) {
  .carousel-control-prev {
    top: -50%;
  }
  .carousel-control-next {
    top: -50%;
  }
}
@media screen and (max-width: 576px) {
  #footer {
    
    padding:  2rem 0;
    
  }

}
@media screen and (max-width: 556px) {
  .footer-img {
    height: 90px;
    width: 220px;
  }
  
  .footer-container{
    margin-left: 52px;
  }
 
}
@media screen and (max-width: 450px) {
  .investo-content-why{
    width: 100%;
  }
  .p-10{
    padding: 2rem;
  }
  .carousel-item {
    height: 300px;
  }
  .carousel-item > img {
    height: 300px;
  }

  .carousel-caption > h1 {
    font-size: 2rem;
    line-height: 1;
  }
  .button-invsto-front1 {
    font-size: 12px;
    padding: 7px 15px;
  }
  .button-invsto-front2 {
    font-size: 12px;
    padding: 7px 15px;
  }
  .button-fronts-group {
    margin-top: 30px;
  }
  .carousel-caption {
    width: 100%;
    left: 0;
  }
  .carousel-control-prev {
    top: 0;
  }
  .carousel-control-next {
    top: 0;
  }

  .investo-join {
      padding: 1.5rem;
      height: 480px;
  }
  .joinNow{
      font-size:1.1rem;
  }
  .left{
    width: 98px;
  }
  .investo-join > h2 {
    font-size: 1.5rem;
  }
}





@media screen and (max-width: 1200px){
  .container-investo{
    max-width: 1140px;
    padding:.5rem;
  }
}

@media screen and (max-width: 991px){
  .container-investo{
    max-width: 960px;
    padding:.5rem;
  }
}

@media screen and (max-width: 768px){
  .container-investo{
    max-width: 720px;
    padding:.5rem;
  }
}

@media screen and (max-width: 576px){
  .container-investo{
    max-width: 540px;
    padding:.5rem;
  }
}
