.business-wrapper {
  height: 78vh;
}
.investors {
  width: 50%;
  background-color: #eeeeee;
  background-image: linear-gradient(0deg, #eeeeee 0%, #fcffff 100%);
}
.investors > h1 {
  color: rgba(255, 145, 83, 1);
}
.business-head {
  font-size: 4.5rem;
  font-weight: 400;
  text-shadow: 10px 10px 60px rgb(248, 250, 246);
}
.business {
  width: 50%;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(255, 209, 67, 1) 0%,
    rgba(255, 145, 83, 1) 90%
  );
}
.business > h1 {
  color: #000;
}
.investors > p {
  color: rgba(255, 145, 83, 1);
}
.business-para {
  font-size: 1.7rem;
  font-weight: 500;
  text-shadow: 10px 10px 60px rgb(248, 250, 246);
}



 .btn-grad {background-image: linear-gradient(to right, #517fa4 0%, #243949  51%, #517fa4  100%)}
 .btn-grad {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    border-radius: 10px;
    display: block;
  }

  .btn-grad:hover {
    background-position: right center; 
    color: #fff;
    text-decoration: none;
  }
 
  .btn-grad1 {background-image: linear-gradient(to right, #00bf8f 0%, #001510  51%, #00bf8f  100%)}
   
