h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}


.navbar {
    background-color: rgb(46, 216, 117);
}

.nav-item a {
    color: #2d3e50 !important;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 5px;
}


.list {
    display: flex;
    justify-content: space-evenly;
}

.list p {
    color: rgb(155, 75, 11);
    font-weight: bold;
    font-size: 1.2rem;
    padding-top: 7px;
}

.list a {
    text-decoration: none;
    font-size: 1rem;
    color: #000;
    padding-top: 10px;
}

.list a:hover {
    color: rgb(46, 216, 117);
}

#catagories {
    padding: 1rem 0 2rem;

}


.dropdown-item {
    text-align: left !important;
}

#latest {
    padding: 2rem;
}

#latest img {
    object-fit: cover;
    width: 100%;
}

.events {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    float: right;
    border: 1px solid #d3d3d3;
    border-top: 30px solid rgb(155, 75, 11);
    padding: 20px;
    border-radius: 8px 8px 0 0;
}

.events h3 {
    font-weight: bold;
    text-decoration: underline;
}

.events a {
    color: #000;
    text-decoration: none;
}

.card {
    height: 300px;
    text-align: center;
}

#categ {
    padding: 2rem;
}

.heading {
    color: rgb(155, 75, 11);
    font-weight: bold;
}

.orders {
    border: 1px solid #d3d3d3;
    border-radius: 4px;
}

.head {
    text-align: center;
    background-color: rgb(46, 216, 117);
    padding: .5rem;
    border-radius: 4px;
}

.head a {
    padding: .5rem;
    color: #000;
    text-decoration: none;
    
}
.head a:hover {
    color: #fff;
}


.ite {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d3d3d3;
    width: 90%;
    padding: 0.5rem;
    /* margin-bottom: 5px; */
}

.ite a {
    color: #000;
    text-decoration: none;
    font-size: 1rem;
}


.ite div p {
    color: white;
    background-color: brown;
    height: 30px;
    width: 30px;
    text-align: center;
    font-size: 1rem;
    margin-top: auto;
    margin-bottom:auto;
}

iframe {
    width: 100%;
}

#footer {
    padding: 1rem;
    padding-bottom: 0;
}

.info {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.info a {
    color: #000;
    margin-bottom: 5px;
    text-decoration: none;
}

.border-top-dark {
    border-top: 2px solid #000;
    padding-top: .5rem;
    padding-bottom: .5rem;

}

.icon a:hover {
    color: rgb(46, 216, 117)
}

#copyright {
    background-color: #000;
    color: #fff;
    padding: 1rem;
}



/* categories */
#vegetables img {
    width: 100%;
}

.vegi {
    display: flex;
    border: 1px solid #d3d3d3;
    margin-bottom: 20px;
}

.vegi .list_item {
    padding: 10px;
}

.vegi .list_item h3 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;

}

.list_item img {
    height: 150px;
    width: 150px;

}

.vegi .con {
    padding: .5rem;
}

.vegi .con p {
    margin-bottom: 5px;

}

/* prodect */
.riceimg {
    display: flex;
    padding: .8rem;
}

.riceimg img {
    width: 110px;
    height: 110px;
    margin-left: 20px;
    border: 1px solid #d3d3d3;
}

.riceprice {
    display: flex;
    justify-content: space-between;
    padding: .8rem;
}

.pricetag a {
    margin-left: 10px;
    background-color: rgb(155, 75, 11);
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}

.rice-desc {
    padding: 10px;
}

.lcomment {
    width: 100%;
    display: flex;
    padding: 10px;
}

.lcomment i {
    font-size: 3rem;
}

.lcomment textarea {
    width: 100%;
    height: 50px;
    margin-left: 5px;
}

.comments {
    padding: .8rem;
}

/* user */

.user {
    width: 100%;
    border: 1px solid #d3d3d3;
    border-top: 15px solid #000;
    border-radius: 8px 8px 0 0;
}

.user h3 {
    padding-top: .5rem;
    padding-left: .5rem;
}

.user .userinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.user .userinfo img {
    height: 200px;
    width: 200px
}

.userpro {
    display: flex;
    flex-direction: column;
    border: 1px solid #d3d3d3;
    padding: 1rem;
    /* width:90% */
}

.userpro .size {
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.userpro .size:hover {
    color: rgb(155, 75, 11);
}

.userprofile {
    display: flex;
    padding: 1rem;
}

.userprofile img {
    border: 1px solid #d3d3d3;
    height: 200px;
    width: 200px;
}

.userprofile h4 {
    margin-left: 20px;

}

.created {
    margin-top: 10px;
    border: 1px solid #d3d3d3;
    padding: 1rem;
    margin-bottom: 20px;
}

.form {
    background-color: #d3d3d3;
    border: 1px solid #d3d3d3;
    padding: 1rem;
}

.products {
    border: 1px solid #d3d3d3;
    padding: 1rem;
}

.products .productdesc {
    display: flex;

}

.products .productdesc img {
    height: 150px;
    width: 150px;
}

.para {

    margin-left: 20px;
}

.productwarp {
    margin-top: 2.5rem;
}

/* contact */
.col-sm-10 textarea {
    width: 100%;
    height: 150px;
}


/* login */
.login {
    width: 80%;
    border: 1px solid #d3d3d3;
    padding:1rem;
}
.login form{
    margin-top: 20px;
    margin-bottom: 20px;
}


/* register */
.register {
    border: 1px solid #d3d3d3;
    padding:1rem;
}
.register form{
    margin-top: 20px;
    margin-bottom: 20px;
}
.register .colo{
    text-decoration: none;
    color:rgb(46, 216, 117)
}
.register .colo:hover{
    color:rgb(155, 75, 11)
}
@media screen and (max-width:991px) {


    .list {
        flex-direction: column;
    }


}

@media screen and (max-width:532px) {
    .riceimg {
        flex-direction: column;
        align-items: center;
    }

    .riceimg img {
        height: 200px;
        width: 200px;
        margin-top: 5px;
    }

    .riceprice {
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .hit {
        margin-top: 20px;
    }
}

@media screen and (max-width:400px) {
    .vegi {
        flex-direction: column;
        align-items: center;

    }

    .list_item {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .list_item img {
        height: 100px;
        width: 100px;
    }

    .con p {
        font-size: 1rem;
        line-height: 1.2;
    }

    .userprofile {
        flex-direction: column;
        align-items: center;
    }

    .userprofile h4 {
        margin-top: 10px;
    }

    .products .productdesc {
        flex-direction: column;
        align-items: center;
    }

    .products .productdesc img {
        width: 120px;
        height: 120px;
    }

    .products .productdesc .para {
        line-height: 1;
        padding-bottom: 0;
        margin-top: 10px;
    }

    .product_head {
        text-align: center;
    }
}