:root {
  --black: #000;
  --white: #fff;
  --background1-color: #c78947;
  --background2-color: #fff;
  --percentage1-color: #35643f;
  --percentage2-color: #81db87;
  --percentage3-color: #eb0c52;
  --box-shadow1: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
a {
  color: var(--blue);
}
a:hover {
  text-decoration: none;
}
.nav-link {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}
.nav-link:hover{
  color: var(--background1-color) !important;
}
.login-btn {
  padding: 7px 15px;
  text-transform: uppercase;
  color: var(--white);
  border-radius: 32px;
  background-color: var(--background1-color);
  margin-left: 10px;
  font-weight: 600;
  font-size: 14px;
}
.login-btn:hover{
  color:var(--black);
}
.carousel-caption {
  width: 50%;
  top: 15%;
  left: 25%;
}
.carousel-caption > h1 {
  font-size: 6rem;
  font-weight: 600;
  text-shadow: 5px 5px 10px #000;
}
/* .overlay {
  background-color: rgba(0, 0, 0, 0.3);
} */

.button-invsto-front1 {
  padding: 15px 30px;
  text-transform: uppercase;
  color: var(--white);
  border-radius: 32px;
  background-color: var(--background1-color);
  margin-left: 10px;
  font-weight: 600;
  font-size: 16px;
}
.button-invsto-front2 {
  padding: 15px 30px;
  text-transform: uppercase;
  background-color: var(--white);
  border-radius: 32px;
  color: var(--black);
  margin-left: 10px;
  font-weight: 600;
  font-size: 16px;
}
.button-fronts-group {
  margin-top: 30px;
}
.button-invsto-front1:hover {
  color: var(--black);
}
.button-invsto-front2:hover {
  color: var(--background1-color);
}

.carousel-item {
  height: 610px;
}
.carousel-item > img {
  height: 610px;
}
#infor-mation {
  background-color: var(--background1-color);
  height: 50px;
}
.contact-infor {
  height: 50px;
}
.contact-infor > a {
  color: var(--white);
}

/* header section */
#header {
  background-color: var(--black);
}

#investment {
  height: 100%;
}
.left {
  width: 150px;
}
.pad-cont {
  padding: 3rem;
}
.investo-wrap {
  position: relative;
  width: 100%;
  height: 100%;
}
.investo-join {
  z-index: 100;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  background-color: var(--background2-color);
  height: 300px;
  box-shadow: var(--box-shadow1);
  padding: 3.5rem;
  border-radius: 16px;
}
.investo-wrap > .investo-border {
  height: 15px;
  background-color: var(--background1-color);
  border-radius: 16px;
  position: relative;
  top: 92px;
  z-index: 98;
  width: 30%;
}
.investo-join > h2 {
  font-weight: 500;
}
.investo-join > p {
  text-align: justify;
}

.joinNow {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--background1-color);
  text-align: center;
}
.joinNow:hover {
  color: var(--percentage3-color);
}

.heading h1 {
  font-weight: 700;
  font-size: 2.1rem;
  text-transform: uppercase;
  display: flex;
  /* align-items: center;
  justify-content: center; */
  flex-direction: column;
}
.lines {
  height: 2px;
  background-color: var(--black);
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.line1 {
  width: 50px;
}
.line2 {
  width: 30px;
  margin-top: 5px;
}
.lines1 {
  height: 2px;
  background-color: var(--black);
  display: flex;
}
.line11 {
  width: 50px;
}
.line12 {
  width: 30px;
  margin-top: 4px;
}

#investo-card {
  min-height: 70vh;
}

/* invest card */
.padding-top-head {
  padding-top: 5rem;
  /* padding-bottom:3rem; */
}

.card-invest {
  flex-direction: column;
  position: relative;
  align-items: center;
}
.card-invest > img {
  width: 135px;
  height: 135px;
  margin-bottom: 10px;
}
.invento-prop {
  box-shadow: var(--box-shadow1);
  padding: 0.5rem;
  transition: 0.3s ease-in;
}
.invento-prop > h3 {
  transition: 0.3s ease-in cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
.invento-prop:hover {
  margin-top: 10px;
  transform: scale(1.1);
}
/* .invento-prop:hover>.investo-border1{
  display: none;
} */

.invento-prop h5 {
  text-align: center;
}

.card-invest > .investo-border1 {
  height: 5px;
  background-color: var(--background1-color);
  /* border-radius: 16px; */
  position: absolute;
  bottom: -5px;
  z-index: -1;
  width: 60%;
}

/* card end */

.videocontainer {
  width: 100%;
  position: relative;
}

.whywork {
  padding: 1rem;
  background: linear-gradient(to right, #000 50%, rgb(35, 39, 53) 50%);
}
.investo-row {
  width: 100%;
  display: flex;
}
.investo-col {
  width: 50%;
}
.investo-content-why {
  width: 60%;

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.scheduleBut {
  background-color: var(--background1-color);
  color: var(--white);
  text-transform: uppercase;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 32px;
  word-spacing: 2px;
  letter-spacing: 1px;
  transition: 0.5s ease-in;
}
.scheduleBut:hover {
  color: var(--black);
}

/* proposals */
.wrapper-width {
  width: 350px;
}
.wrapper-proposals {
  transition: 0.8s ease-in-out;
  -moz-transition: 0.8s ease-in-out; /* Firefox 4 */
  -webkit-transition: 0.8s ease-in-out; /* Safari and Chrome */
  -o-transition: 0.8s ease-in-out; /* Opera */
  -ms-transition: 0.8s ease-in-out; /* Explorer 10 */
  height: 479px;
  overflow: hidden;
  background-color: var(--white);
}
.contentWrapper {
  padding: 1rem;
  padding-top: 0.5rem;
  height: 479px;
  background-color: var(--white);
}
.wrapper-proposals:hover .imgbox {
  height: 0;
}
.wrapper-proposals:hover .contentWrapper {
  height: 479px;
}
.wrapper-proposals:hover .contentWrapper .investo-button {
  margin-top: -140px;
}
.wrapper-proposals:hover .investo-para {
  height: 100%;
}
.imgbox {
  height: 200px;

  position: relative;
  overflow: hidden;
  transition: 0.8s ease-in-out;
  -moz-transition: 0.8s ease-in-out;
  -webkit-transition: 0.8s ease-in-out;
  -o-transition: 0.8s ease-in-out;
  -ms-transition: 0.8s ease-in-out;
  background-color: var(--white);
}
.imgbox > img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.contentBox {
  box-shadow: var(--box-shadow1);
  background-color: var(--white);
  text-align: justify;
}

.progress {
  height: 2rem;
  background-color: var(--percentage2-color);
  border-radius: 0em;
}

.invester-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.investo-para {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 130px;
  transition: 0.8s ease-out;
  -moz-transition: 0.8s ease-out;
  -webkit-transition: 0.8s ease-out;
  -o-transition: 0.8s ease-out;
  -ms-transition: 0.8s ease-out;
  background-color: var(--white);
}
.investo-body {
  background-color: var(--white);
}
.investo-add {
  padding-right: 10px;
}
.investo-add > a > i {
  font-size: 1.5rem;
}
.investo-para::-webkit-scrollbar {
  display: none;
}
.investo-para > hr {
  margin-bottom: 0;
}
.investo-body > p {
  margin-bottom: 0;
}
.investo-sent {
  padding-top: 0.2rem;
  line-height: 1.2;
  margin-bottom: 0;
}
.invester-name > .investo-pname {
  display: flex;
  flex-direction: column;
}
.investo-button {
  /* display: flex; */
  transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  position: absolute;
  background-color: var(--white);
  z-index: 111;
  height: 70px;
  padding-top: 0.5rem;
}
.button-investo {
  padding: 7px 15px;
  text-transform: uppercase;
  color: var(--white);
  border-radius: 32px;
  margin-left: 10px;
  margin-top: 10px;
}
.invest {
  background-color: var(--background1-color);
}
.invest:hover {
  color: var(--black);
}
.proposal {
  background-color: var(--black);
}
.proposal:hover {
  color: var(--background1-color);
}
.investo-add > a > i {
  color: #d3d3d3;
}
.investo-add > a > i:hover {
  color: var(--black);
}
.in-name {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--black);
  text-transform: uppercase;
}
.in-names:hover {
  color: var(--black);
}
.in-sub {
  font-size: 1rem;
  font-weight: 600;
  color: #d3d3d3;
  text-transform: uppercase;
}

.invest-target {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.investocroud {
  width: 30%;
  text-align: left;
  display: flex;
}
.investocroud > a {
  pointer-events: none;
  color: #eb0c52;
}

.investo-body > ul {
  padding-left: 0;
}

.investo-body > ul > li {
  list-style: none;
}

/* end proposals */

#totalCount {
  min-height: 300px;
  background: black;
  margin-top: 5rem;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../img/bg-img/cityscape.jpg");
  background-position: center;
  background-size: cover;
}

.countBox {
  height:300px;
}

.values {
  color: var(--background1-color);
  font-size: 2rem;
  font-weight: 700;
}
.ccontent {
  font-weight: 700;
}

/* blog */

.blogWrap {
  padding: 1rem;
  /* width: 500px; */
}
.blog-content {
  padding: 0.5rem;
}
.blog-content > h1 {
  font-size: 700;
  font-size: 2rem;
}
.blog-content > a {
  font-size: 1rem;
  color: rgba(51, 51, 51, 0.733);
  font-weight: 500;
}
.Blogimg img {
  width: 100%;
  object-fit: fill;
  height: 300px;
}
.blog-pra {
  padding-top: 1rem;
  text-align: justify;
}

/* comments */
#comments {
  height: 300px;
  background-color: var(--background1-color);
  margin-top: 3rem;
}
.imgbox-left img {
  margin-top: -41px;
  height: 300px;
}
.imgbox-left {
  min-height: 50vh;
  float: right;
  margin-right: 75px;
}

.invento-quotes {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

/* footer */

#footer {
  background-color: var(--black);
  padding: 2rem;
}
.footer-container1 > p {
  margin-left: 55px;
}
.footer-container {
  margin-top: 40px;
  margin-left: 80px;
  position: relative;
}
.footer-container > span {
  width: 50px;
  height: 2px;
  background-color: var(--white);
  display: inline-block;
  position: absolute;
  top: 35px;
}
.footer-container > h3 {
  font-size: 1.5rem;
}
.footer-container > ul {
  margin-top: 16px;
  padding-left: 0;
}
.footer-container > ul > li {
  list-style: none;
}

.footer-container > ul > li > a {
  color: var(--white);
  font-size: 16px;
}
.footer-container > ul > li > a:hover {
  color: var(--background1-color);
}
.margin-left {
  margin-left: -12px;
}
.sliders {
  position: absolute;
  top: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../img/banner/banner1.jpg");
}
.footer-icons > li {
  margin-left: 10px;
}
.footer-icons > li > a > i {
  font-size: 20px;
}
.footer-icons > li:nth-child(1) {
  margin-left: 0;
}
.footer-img {
  height: 100px;
  width: 250px;
}
