#main-invest{
height:565px;

}

.main-invest-warp{
    height:565px;
    display: flex;
    align-items: center;
   
    
}
.main-warp-content > h2{
    font-size:3.5rem;
}
.main-warp-content > p {
    font-size:1.2rem;
    font-weight: 600;
}

.btn-grad {background-image: linear-gradient(to right, #FF8008 0%, #FFC837  51%, #FF8008  100%)}
.btn-grad {
   /* margin: 10px; */
   padding: 15px 20px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
   width: 50%;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }
.discover-right > img {
    width: 100%;
    object-fit:cover;
    display: block;
    margin-right:auto;
    margin-left:auto;
}
.discover-right > .img-responsive{
    width: 81%;
}
.discover{
width: 50%;
}

.height-inves{
    height:565px;
}